{% extends "main/base.html" %}

{% block title %}Simple Contact{% endblock %}

{% block content %}
    {% if sent %}
        <h1>Simple number list</h1>
        <ul>
            {% for simple in simple_list %}
                {% if mod == 'italic' %}
                    <li><h2><i>{{ simple }}</i></h2></li>
                {% elif mod == 'roman' %}
                    <li><h3><b>{{ simple }}</b></h3></li>
                {% else %}
                    <li>{{ simple }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <h1>Contact form</h1>
        <form method="post">
            {% csrf_token %}
            <p>
                Start: <input type="text" name="start">
            </p>
            <p>
                Finish: <input type="text" name="finish">
            </p>
            <p>
                Roman: <input type="radio" name="mod" value="roman">
            </p>
            <p>
                Italic: <input type="radio" name="mod" value="italic">
            </p>

            <button type="submit">Send</button>
        </form>
    {% endif %}
{% endblock %}