body {
    font-family: sans-serif;
}
h1 {
    color: darkblue;
}
h2 {
    color: green;
}

p {
    color: rebeccapurple;
}

.nav {
    color: orange;
    text-decoration: none;
}

.nav:hover {
    color: red;
    text-decoration: none;
}
